/* Import font by googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

/* Custom settings with variables */
:root{
    --primary: #0d6efd;
    --secondary: #21252f;
    --body: #888;
    --white: #fff;
    --boxShadow: 0 8px 22px rgba(0,0,0,0.1);
}

/* Styles global */
body{
    font-family:'Sora', sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,.display-4{
    color: #21252f;
}

a{
    color: var(--secondary);
    text-decoration: none;
}

.navbar{
    box-shadow: var(--boxShadow);
}

.navbar .logo{
    width: 18rem;
}

.sub{
    font-size: 4rem;
}

.hero{
    background-image: url(../imgs/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
    z-index: 2;
}

.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(21, 20,51, 0.8);
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect{
    box-shadow: var(--boxShadow);
    background-color:var(--white) ;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
}

/* married effect in the services section */

.service{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;

    transition: all 0.4s ease;
}

.service:hover .iconbox{
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5, .service:hover p{
    color: var(--white);
}

.service:hover::after{
    opacity: 1;
    top: 0;
}